<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


  <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <div class='navbar navbar-default navbar-static-top'>
    <div class='container-fluid'>
    <a href='test' class='navbar-brand'>Sean Liu - Syed Mohsin - Ben Zhu</a>

      <div class="pull-right">
          <ul class="nav nav-tabs">
            <li><a href='http://www.columbia.edu/cu/publicsafety/SafeHavenLocations.pdf'>List All Zones'</a></li>
            <li class="active"><a href="#">Public Safety Info</a></li>
          </ul> <!--"nav nav-tabs"-->
      </div> <!--"pull-right"-->

    </div>
    </div>

  {% block body %}{% endblock %}

  <footer class="footer">
      <div class="container">
        <p><strong>Contributors:</strong> Sean Liu, Syed Mohsin, and Ben Zhu</p>
      </div> <!--"container"-->
    </footer>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>