{% extends "base.html" %}

{% block title %}Geolocation{% endblock %}

{% block head %}
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see a blank space instead of the map, this
// is probably because you have denied permission for location sharing.

var map;
var marker2;
var geocoder;

function codeHaven(name, address) {
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var marker = new google.maps.Marker({
      map: map,
      position: results[0].geometry.location,
      content: address,
      title: name,
      icon:'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
    });
      var infowindow = new google.maps.InfoWindow({
          content: name
        });
        google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
        });
    } else {
      alert("Geocode was not successful for the following reason: " + status);
    }
  });
}

function initialize() {
	geocoder = new google.maps.Geocoder();
  	var mapOptions = {
    	zoom: 15
  	};
  	map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  	var pos2 = new google.maps.LatLng(40.807942, -73.962573);

  // Try HTML5 geolocation
  	if(navigator.geolocation) {
  		var marker = null;

    	navigator.geolocation.getCurrentPosition(function(position) {
      		var pos = new google.maps.LatLng(position.coords.latitude,
            		                         position.coords.longitude);

      		marker = new google.maps.Marker({
		  		position:pos,
		  		map: map,
		  		animation: google.maps.Animation.BOUNCE,
	  		});

      		map.setCenter(pos);
    	}, function() {
      		handleNoGeolocation(true);
    	});

      var havens = {{ haven_data|tojson|safe }};
      window.alert(havens[0]["name"]);
      var hLength = 3;
      for (var i = 0; i < hLength; i++) {
        codeHaven(havens[i]["name"], havens[i]["address"]);
      }
  	} else { // Browser doesn't support Geolocation
    	handleNoGeolocation(false);
  	}

}

function handleNoGeolocation(errorFlag) {
  	if (errorFlag) {
    	var content = 'Error: The Geolocation service failed.';
  	} else {
    	var content = 'Error: Your browser doesn\'t support geolocation.';
  	}

  	var options = {
    	map: map,
    	position: new google.maps.LatLng(40.807942, -73.962573),
    	content: content
  	};

  	var infowindow = new google.maps.InfoWindow(options);
  	map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}

{% block body %}
     <div class='navbar navbar-default navbar-static-top'>
    <div class='container-fluid'>
    <a href='test' class='navbar-brand'>Safety FriendZones</a>

      <div class="pull-right">
          <ul class="nav nav-tabs">
            <li class="active"><a href='http://www.columbia.edu/cu/publicsafety/SafeHavenLocations.pdf'>List All Zones'</a></li>
            <li><a href="#">Public Safety Info</a></li>
          </ul> <!--"nav nav-tabs"-->
      </div> <!--"pull-right"-->

    </div>
    </div>

    
    
    <div class='container-fluid well well-lg'>
      
          <div class='col-md-12 col-lg-12 text-center'>
            <h2>Navigation</h2>
            <p class='lead'>Easily contact public safety or find the nearest safe zone</p>
            <button type='button' class='btn btn-lg btn-primary'>Public Safety Contact</button>
            <button type='button' class='btn btn-lg btn-danger'>Nearest Safe Zone</button>
          </div>
     
    </div>
      
  
  <div id="map-canvas"></div>
       
{% endblock %}
