{% extends "base.html" %}

{% block title %}Geolocation{% endblock %}

{% block head %}
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px 25px 10px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see a blank space instead of the map, this
// is probably because you have denied permission for location sharing.

var map;
var geocoder;
var names = ["137 Bar & Grill", "Bahamas Deli", "Bettolona Italian Restaurant", "Chapati House Simply Indian", "Claremont Chemists", "Covo Trattoria Pizzeria", "Dinosaur BBQ", "Fairway Supermarket", "Floridita Cuban Cuisine", "Duane Reade"];
var addresses = ["3379 Broadway, New York, NY 10031", "1622 Amsterdam Avenue, New York, NY 10031", "3143 Broadway, New York, NY 10027", "3153 Broadway, New York, NY 10027", "3181 Broadway, New York, NY 10027", "701 West 135th Street, New York, NY 10031", "700 West 125th Street, New York, NY 10027", "2328 12th Avenue, New York, NY 10027", "2276 12th Avenue, New York, NY 10027", "568 West 125th Street, New York, NY 10027"];
var havens = [];
var myLat;
var myLong;
var markers = [];

/*
function findNearMe(location) {
  var bounds = new google.maps.LatLngBounds();
  
    for (var i=0; i<markers.length;i++) {
        bounds.extend(marker.position);

    }

}*/

function rad(x) {return x*Math.PI/180;}

function nearMe() {
  
    var my_marker = null;
    var lat;
    var lng;

    navigator.geolocation.getCurrentPosition(function(position) {
          // beta
          lat = position.coords.latitude;
          lng = position.coords.longitude;
    });
  
    
    var R = 6371; // radius of earth in km
    var shortest = -1;
    var closest;
    for(var i=0;i<markers.length; i++ ) {
        var mlat = markers[i].position.lat();
        var mlng = markers[i].position.lng();
        var dLat  = rad(mlat - lat);
        var dLong = rad(mlng - lng);
        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
            Math.cos(rad(lat)) * Math.cos(rad(lat)) * Math.sin(dLong/2) * Math.sin(dLong/2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
        var d = R * c;
        if (shortest < 0 || d < shortest) {
            closest = i;
        }
    }
    for (var i=0;i<markers.length; i++ ) {
      if (i == closest)
        markers[closest].setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
      else
        markers[i].setIcon('http://www.geocodezip.com/mapIcons/small_green_dot.png');
    }
    
}


function codeHaven(name, address) {
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      var marker = new google.maps.Marker({
      map: map,
      position: results[0].geometry.location,
      content: address,
      title: name,
      icon:'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
    });
      // Store marker values in an array
      markers.push(marker);
      //window.alert(marker.position.coords.latitude);

      var infowindow = new google.maps.InfoWindow({
          content: name
        });
        google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
        });
    } else {
      alert("Geocode was not successful for the following reason: " + status);
    }
  });
}

function initialize() {
	geocoder = new google.maps.Geocoder();
  	var mapOptions = {
    	zoom: 14,
      scrollwheel:false
  	};

  	map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  	var pos2 = new google.maps.LatLng(40.807942, -73.962573);

  // Try HTML5 geolocation
  	if(navigator.geolocation) {
  		var marker = null;
    	navigator.geolocation.getCurrentPosition(function(position) {
      		var pos = new google.maps.LatLng(position.coords.latitude,
            		                         position.coords.longitude);
          myLat = position.coords.latitude;
          myLong = position.coords.longitude;
      		marker = new google.maps.Marker({
		  		position:pos,
		  		map: map,
		  		animation: google.maps.Animation.BOUNCE,
	  		  });

      		map.setCenter(pos);
    	}, function() {
      		handleNoGeolocation(true);
    	});

      var len = names.length;
      for (var i = 0; i < len; i++) {
          codeHaven(names[i], addresses[i]);
      }

  	} else { // Browser doesn't support Geolocation
    	handleNoGeolocation(false);
  	}

}



function handleNoGeolocation(errorFlag) {
  	if (errorFlag) {
    	var content = 'Error: The Geolocation service failed.';
  	} else {
    	var content = 'Error: Your browser doesn\'t support geolocation.';
  	}

  	var options = {
    	map: map,
    	position: new google.maps.LatLng(40.807942, -73.962573),
    	content: content
  	};

  	var infowindow = new google.maps.InfoWindow(options);
  	map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}

{% block body %}
    

    
    
    <div class='container-fluid well well-lg'>
      
          <div class='col-md-12 col-lg-12 text-center'>
            <h2>Safety FriendZones</h2>
            <p class='lead'>Easily contact public safety or find the nearest safe zone</p>
            <button type='button' class='btn btn-lg btn-primary'>Public Safety Contact</button>
            <button type='button' class='btn btn-lg btn-danger' onclick="nearMe()">Nearest Safe Zones</button>
          </div>
     
    </div>
      
  
  <div id="map-canvas"></div>
       
{% endblock %}
